<h6>Costos anuales</h6>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descripción</th>
            <th scope="col">Costo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Dominio</td>
            <td>$ 35</td>
        </tr>
    </tbody>
</table>

<h6>Costos mensuales</h6>

<p>Por medio de: Digital Ocean</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descripción</th>
            <th scope="col">Costo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Almacenamiento</td>
            <td>$ 15</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Servidor</td>
            <td>$ 5</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Total</td>
            <td>$ 20</td>
        </tr>
    </tbody>
</table>

<p>Se han presentado dos solucione posibles en base a los requerimientos establecidos</p>
<p>* Para el sistema de correos se recomienda analizar opciones como G Suite</p>